<!-- <div *ngIf="episode" class="sub-frame">
  <h2> {{ episode.anime | uppercase }} {{message}} </h2>  
  <span 
    (click)="toggleEpisode()"  
    class="badge"
    [class.selected]="episode == selectedEpisode">
    {{episode.title}}
  </span> 
  <video *ngIf="clicked" width = "1200px" autoplay controls [src]="link" >
  </video>
</div>
 -->
 <div *ngIf = "episode">
 <div *ngIf="!link" >Fetching video for {{episode.fullTitle}}, please wait (~10 sec) ...</div>
 <div *ngIf="link" ><video width = "100%" autoplay controls [src]="link" ></video>
  <a [href]="link">Download link</a></div>
  <div class="item" (click)="close()">Close</div>
</div>

<!-- <video *ngIf="link" width=1000px class="jw-video jw-reset" disableremoteplayback="" webkit-playsinline="" playsinline="" preload="metadata" src="https://www1.mp4upload.com:282/d/swx7f3ljz3b4quuojgve6z2vjpkgta3eoh3lgsjoni2vbor243uhgiua/video.mp4" style="object-fit: fill;"></video> -->

