.item{
    color:lightgray;
    border-bottom: gray 1px solid;
    padding: 5px 0  5px 0    ;
    text-align: center;
    background-color: red;
}

.badge{
    color: lightgray;
    background-color: salmon;
    padding: 2px 2px 2px 2px;
}

.item:hover {
    cursor:pointer;
      
}