img{
    width:150px;
}

img:hover{
    cursor: pointer;
}

img.selected{
    border-style: solid;
    border-width: 5px;
    border-color: red;
}

 ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.center{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: -webkit-min-content;
}

 .main {
    /* flex: 1; */
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
  }
  
  
  .box {
    min-height: -webkit-min-content;
    display: flex;
  }

  .column {
    padding: 20px;
    border-right: 1px solid #999;
  }
  
  .column > div {
    height: 2000px;
    background: red;
  }
  
  .column:nth-child(2) > div {
     height: auto;
  }
  
  