<h2>Trending and latest</h2>


<ul  class="animes">
    <span *ngFor="let anime of animes">
    <!-- <span *ngFor="let anime of animes | async">        -->

        <img 
          src="{{anime.imgUrl}}" 
          title="{{anime.title}}" 
          (click)="onSelect(anime)"
          [class.selected]="anime ==selectedAnime"/>
          <app-anime-detail *ngIf = "anime == selectedAnime" [anime]="selectedAnime"></app-anime-detail>
      </span>
    <button (click)="getMore(false)">Load More</button>
    <button (click)="getMore(true)">Load Much More</button>

      
</ul>