.sub-frame{
  /* display: flex;
  flex-direction: row;
  flex-wrap:wrap; */

}

.animeSummary{
  display:flex;
}

.item{
    color:lightgray;
    padding: 10px 10px  10px 10px ;
    text-align: center;
}

.item:hover {
    cursor:pointer;
}

.item.selected{
    color:#3b3d3f;
    background-color:lightgray; 
}

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.list.episodeSelected{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* max-height: 50%; */
}

.description{
  white-space: pre-line;
  padding-left: 10px;

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

img{
    /*https://stackoverflow.com/questions/8397049/css-image-resize-percentage-of-itself*/
    /* -webkit-transform: scale(1.5); /* Saf3.1+, Chrome 
    -moz-transform: scale(1.5); /* FF3.5+ 
    -ms-transform: scale(1.5); /* IE9 
    -o-transform: scale(1.5); /* Opera 10.5+ 
    transform: scale(1.5);*/
    /* vertical-align: top; */
    /* height: 100%;
    width: 100%; */
    /* width: 300px; */
}


/* Tooltip container */
/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
  } */

  .tooltip {
    display:block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  
 .sticky{
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed; 
    /* align-self: flex-start */
    top: 0; 
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
     /* height: 100%;  */
    /* width: 100%;*/
    
 }