<!-- <h2 *ngIf="anime" > {{ anime.title | uppercase }} </h2>   -->
<div *ngIf="anime" class="sub-frame" >
  
  <div *ngIf="!selectedEpisode">
    <img 
    
    src="{{anime.imgUrl}}" 
    title="{{anime.title}}" >
</div>
  <div class="list" [ngClass]="{'episodeSelected':selectedEpisode}">
    <div 
      *ngFor="let episode of anime.episodes "
      (click)="selectEpisode(episode)" 
      class="item tooltip" 
      [class.selected]="episode == selectedEpisode">
      {{episode.title}}
    </div>
  </div>
</div>

