<!--The content below is only a placeholder and can be replaced.-->
   <h1>
    Welcome to {{ title }}!
  </h1>
  <!--<app-episodes></app-episodes>-->

  <div class = "mainContainer">
      <div class = "rowContainer" [ngClass]="{'visible':selectedAnime || selectedEpisode}">
        <app-anime-detail class="sidebar"  [ngClass]="{'visible':selectedAnime}" ></app-anime-detail>
        <app-episode-detail class="player" [ngClass]="{'visible':selectedEpisode}"></app-episode-detail>
      </div>
      <div class = "list">
        <app-animes ></app-animes>
      </div>
  </div>
  <app-messages></app-messages> 


