.mainContainer{
  display: flex;
  height: calc(100% - 100px);
  width: calc(100% - 20 px);
  flex-direction: column
}

.colContainer {
  display: flex;
  flex: 0;
  flex-direction: column;
  transition: flex-grow 0.5s;  
  -webkit-transition:  0.5s ease-out;
}

.colContainer.visible{
  
  flex:2;
  border-top: solid 2px salmon;
}

.rowContainer{
  display:flex;
  flex-direction: row;
  max-height: 100%;

}

.stretch{
  justify-content: space-between;
}

.button{
  color:red;
  padding: 20px 20px ;
  font-size: 150%;
}

.button:hover{
  cursor: pointer;
}

.sidebar {
  flex:0;
  overflow-y: auto;
  flex-basis: 0%;
  max-height: 100%;
}

.sidebar.visible{
  flex:1;
}

.player{
  flex: 0;
  -webkit-transition:  0.5s ease-out;
  transition: 0.5;
  max-width: 100%;;
}

.player.visible {
 flex: 5;
} 

.list{
  flex: 1;
  /* background-color: #4d4f53; */
  overflow-y: auto;
  -webkit-transition:  0.5s ease-out;
  transition: 0.5;
  display:flex;
  flex-direction: column;
}

.animes{
  flex:1;
}

.list.invisible{
  flex:0
}



  ::-webkit-scrollbar {
  width: 2px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: salmon;
}