.mainContainer{
  display: flex;
  height: calc(100% - 100px);
  width: calc(100% - 20 px);
  flex-direction: column
}

.rowContainer {
  display: flex;
  flex: 0;
  flex-direction: row;
  transition: flex-grow 0.5s;  
  -webkit-transition:  0.5s ease-out;
  max-height: 50%;
}

.rowContainer.visible{
  
  flex:1;
  border-bottom: solid 2px salmon;
}

.sidebar {
  flex:0;
  overflow-y: auto;
  flex-basis: 0%;
}

.sidebar.visible{
  flex:1;
}

.player{
  flex: 0;
  -webkit-transition:  0.5s ease-out;
  transition: 0.5;
}

.player.visible {
 flex: 3;
} 

.list{
   flex: 1;
   /* background-color: #4d4f53; */
   overflow-y: auto;
}

  ::-webkit-scrollbar {
  width: 2px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: salmon;
}