/* #section-left {
    float: left;
 }
 
 #section-right {
    float: right;
    width: 220px;
    margin-left: 100px
 } */

.body {
   /* position: absolute;
   top: 50px;
   right: 0;
   bottom: 0;
   left: 0;
    */
    display: flex;  
    /* flex-direction: row; */
   }

.cont{
   flex: 4;
   align-items:baseline;
   flex-wrap: wrap;
   
}

.sidebar{
   flex:1;
}